
.ts-selected-node-details {
  padding: 20px;
  color: $border-color2;
  font-family: $body-font-1;

  h1 {
    color: $selected-node-details-color1;
    font-size: $heading-font-2;
    margin-bottom: 5px;
  }
}

.ts-historical-selected-node-table {
  font-size: $body-font-2;
  width: 100%;
  margin-top: 15px;
  border: solid 1px $border-color5;

  th {
    color: $border-color2;
    border: solid 1px $border-color5;
  }

  td {
    word-break: break-all;
    border: solid 1px $border-color5;
  }

  .left-column-cell {
    padding: 7px 5px 5px 0px;
    width: 30%;
  }

  .right-column-cell {
    padding: 7px 5px 5px 15px;
  }
}

.history-table-modified {
  background-color: orange;
  color: navajowhite;
}

.history-table-added {
  background-color: green;
  color: navajowhite;
}

.history-table-removed {
  background-color: red;
  color: navajowhite;
}

.history-breadcrumb {
  color: $darkest;
  font-size: $heading-font-4;
  padding: 0px 20px 0px 20px;
  float: right;
  margin: 12px 12px 12px 12px;
  cursor:pointer;
}
